<body>

    <!-- Carte openlayers -->
    <div id="map" class="map"></div>
    
    <div class="topleft bouton_p" onclick="history.back()">
        <img src="img/fleche-arriere-gauche.png" alt="retour" class="img_bouton">
    </div>

    <div class="topright">
        <div class="bouton_s" id="change_gps" ng-click="change_gps()">
            <img src="img/gps.png" alt="gps" class="img_bouton">
        </div>
        <div class="bouton_s" id="centrer_position" ng-click="centrer_position()">
            <img src="img/located.png" alt="gps" class="img_bouton">
        </div>
        <a href="#!workflows">
            <div class="bouton_s">
                <img src="img/flux-de-travail.png" alt="worflows" class="img_bouton">
            </div>
        </a>
    </div>

</body>